{{>layouts/header}}
{{>layouts/header}}
<div class="col-10">
    <table class="table" style="margin-top: 20px; margin-bottom: 50px;">
        <thead class="table-info">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">병원명</th>
            <th scope="col">도로명 주소</th>
        </tr>
        </thead>
        <tbody class="table-group-divider">
        {{#hospitals}}
            <tr>
                <th>{{id}}</th>
                <td>{{hospitalName}}</a></td>
                <td>{{roadNameAddress}}</td>
            </tr>
        {{/hospitals}}
        </tbody>
    </table>
</div>
<ul class="pagination justify-content-center">
    <li class="page-item">
        <a class="page-link" href="?page={{previous}}">Previous</a>
    </li>
    <li class="page-item">
        <a class="page-link" href="?page={{next}}">Next</a>
    </li>
</ul>
{{>layouts/footer}}

