{{>layouts/header}}
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">id</th>
        <th scope="col">title</th>
        <th scope="col">content</th>

    </tr>
    </thead>
    <tbody>
    {{#articles}}
        <tr>
            <th scope="row">{{id}}</th>
            <td><a href ="/articles/{{id}}">{{title}}</a></td>
            <td>{{content}}</td>
        </tr>
    {{/articles}}
    </tbody>
</table>
{{>layouts/footer}}
