
{{>layouts/header}}
<!--action의 의미 어디로갈것이냐?-->
    <form action = "/articles" class = "container" method="post">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">title</label>
            <input type="text" name = "title" class="form-control" id="exampleFormControlInput1"
                   placeholder="제목을 입력하시오.">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">content</label>
            <textarea class="form-control" name = "content" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <button type = "submit" class="btn-primary">submit</button>
    </form>
{{>layouts/footer}}