
{{>layouts/header}}
<div class="card" style="width: 18rem;">
    {{#article}}
        <div class="card-body">
            <h5 class="card-title">{{id}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{title}}</h6>
            <p class="card-text">{{content}}</p>
            <a href="/articles/new" class="card-link">new article</a>
            <a href="/articles" class="card-link">articles List</a>
        </div>
    {{/article}}
</div>

<a class="btn btn-primary" href="/articles/{{article.id}}/edit">Edit</a>
<a class="btn btn-danger" href="/articles/{{article.id}}/delete">Delete</a>



{{>layouts/footer}}